<div>
  <div class="row m-t-2 m-l-2 m-r-2">
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      You've successfully created a new game!
    </div>
    <div class="alert alert-danger" role="alert" hidden={{gameReady}}>
      Share this ID: <strong>{{gameID}}</strong> with your friends. The game starts when there are <strong>{{minUserCount}}</strong> or more players.
    </div>
  </div>
  <div class="row m-t-2 m-l-2 m-r-2">

    <div class="col-md-2 col-sm-12">
      <ul class="nav">
        <li class="nav-item">Game status</li>
      </ul>
    </div>

    <div class="col-md-8 col-sm-9 col-xs-9 vertical-center">
      <div class="input-group-lg display-1 col-center">
        <!-- <p class="display-1 mot text-xs-center highlight animated">{{lastMot.content}}</p> -->
        {{#last-word item=lastMot}}
        {{/last-word}}
        {{input type="text" class="form-control mot animated" value=currentMot.content placeholder="Your word" insert-newline='sendMot' autofocus='autofocus' disabled=canPlay}}
        <hr class="text-primary"/>
      </div>
    </div>

    <div class="col-md-2 col-sm-3 col-xs-3 users">
      {{#each-in players as |socketID player|}}
        {{user-display user=player}}
      {{/each-in}}
    </div>
  </div>
</div>
